target/
dependency-reduced-pom.xml
dockerfiles/run/**/*.lib
dockerfiles/run/**/*.jar
dockerfiles/run/**/keystore
dockerfiles/run/**/glowroot
**/.classpath
**/.project
**/.settings/
**/.metadata/
**/.factorypath
!src/site/resources/model-eclipse-modeler/.project

bin/
tmp/
**/*.eml
.m2
test-run.log
.mvn/.develocity
build
.idea
.mvn/.gradle-enterprise
./cs
