---
name: Publish
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: maven
          cache-dependency-path: server/apps/postgres-app/pom.xml
      - name: Build and Publish
        env:
          REGISTRY: ghcr.io/appscode
          DOCKER_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
          USERNAME: 1gtm
          APPSCODE_ENV: prod
        run: |-
          echo "${DOCKER_TOKEN}" | docker login ghcr.io -u ${USERNAME} --password-stdin
          mvn -T 1C -q clean install \
            -Dmaven.javadoc.skip=true \
            -DskipTests \
            -Djib.allowInsecureRegistries=true \
            -Djib.blobCache=null \
            --pl :james-server-postgres-app --am
